<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DoeVida</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo/logo.png') }}">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Início do Widget VLibras -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>

  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
  <!-- Fim do Widget VLibras -->

</head>

<body>
  <header>
    <nav>
      <a class="logo" href="{{ url_for('inicio') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="200px">
      </a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
        {% if session.get('usuario_id') %}
        <li><a href="{{ url_for('minha_area') }}">Minha Área</a></li>
        {% endif %}


        <li>
          <div class="dropdown">
            <a class="dropbtn">Dúvidas</a>
            <div class="dropdown-content">
              <a href="{{ url_for('requisitos_para_doar') }}">Requisitos para Doar</a>
              <a href="{{ url_for('tipos_sanguineos') }}">Tipos Sanguineos</a>
              <a href="{{ url_for('pos_doacao') }}">Cuidados Pós Doação</a>
              <a href="{{ url_for('endereços') }}">Onde Doar</a>
            </div>
          </div>
        </li>

        {% if session.get('usuario_id') %}
        <li>
          <span class="bem-vindo">Olá, {{ session['usuario_nome'] }}!</span>
        </li>
        <li>
          <a class="custom-btn-login-cadastro btn-2 btn-red" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="custom-btn-login-cadastro btn-2 btn-orange" href="{{ url_for('login') }}">Login</a>
        </li>
        <li>
          <a class="custom-btn-login-cadastro btn-2 btn-blue" href="{{ url_for('cadastro') }}">Cadastro</a>
        </li>
        {% endif %}
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="centralizada">
      <div class="txt-index">
        <h1>Por que doar sangue?</h1>
        <p>A doação de sangue é segura, confiável, rápida e pode salvar até quatro vidas com apenas
          uma coleta.
          Além de conseguir ajudar outras pessoas que precisam, o doador recebe exames gratuitos,
          tem benefícios para a própria saúde, bem-estar emocional e ganha um dia de folga no
          trabalho. Depois de doar, basta hidratar-se, evitar esforço intenso e não consumir álcool no
          mesmo dia.
          Para doar sangue, é necessário atender a alguns requisitos básicos que garante a
          segurança do doador e de quem vai receber a doação.
        </p>
      </div>
      <div class="indeximg">
        <img src="{{ url_for('static', filename='img/indeximg1.png') }}" alt="Imagem 1" height="700px">
      </div>
    </div>
  </main>
  <!-- JS -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>