<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">

<title>DoeVida</title>
</head>
<body>
        <h1>DoeVida</h1>
        <p>Conectando voce a quem precisa</p>

    <nav>
        <a href="/inicio">Início</a> |
        <a href="/cadastro">Cadastro</a> |
        <a href="/minha-area">Minha Área</a> |
        <a href="/sobre">Sobre</a> |
        <a href="/requisitos-para-doar">Requisitos para Doar</a> |
        <a href="/tipos-sanguineos">Tipos Sanguíneos</a> |
        <a href="/pos-doacao">Cuidados pós Doaçao</a> |
    </nav>
</body>
</html>