<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DoeVida - Minha Área</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo/logo.png') }}">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Início do Widget VLibras -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>

  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
  <!-- Fim do Widget VLibras -->
</head>

<body>
  <header>
    <nav>
      <a class="logo" href="{{ url_for('inicio') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="200px">
      </a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li>
          <span class="bem-vindo">Olá, {{ session['usuario_nome'] }}!</span>
        </li>
        <li><a href="{{ url_for('endereços') }}">Onde Doar</a></li>
        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
        
        <li>
          <div class="dropdown">
            <a class="dropbtn">Dúvidas</a>
            <div class="dropdown-content">
              <a href="{{ url_for('requisitos_para_doar') }}">Requisitos para Doar</a>
              <a href="{{ url_for('tipos_sanguineos') }}">Tipos Sanguineos</a>
              <a href="{{ url_for('pos_doacao') }}">Cuidados Pós Doação</a>
    
            </div>
          </div>
        </li>
        <li>
          <a class="custom-btn-login-cadastro btn-2 btn-red" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="container-principal">
      <h1 class="txt-inicio">Boas vindas, {{ usuario['nome']}}!</h1>
      <div class="container-m-area borda-arrendondada">
        <h1>Dados Cadastrais:</h1> <br>

        <form id="formPerfil" method="POST" action="{{ url_for('minha_area')}}">
          <div class="dados-princ">
            <div class="dados">
              <label for="nome">Nome:</label>
              <input class="caixa-text" type="text" id="nome" name="nome" value="{{ usuario['nome']}}" readonly>

              <label for="sobrenome">Sobrenome:</label>
              <input class="caixa-text" type="text" id="sobrenome" name="sobrenome" value="{{ usuario['sobrenome']}}"
                readonly>

              <label for="tipo">Tipo Sanguíneo:</label>
              <select class="caixa-select" id="tipo" name="tipo" disabled>
                <option value="">Selecione...</option>
                <option value="A+" {% if usuario['tipo']=="A+" %}selected{% endif %}>A+</option>
                <option value="A-" {% if usuario['tipo']=="A-" %}selected{% endif %}>A-</option>
                <option value="B+" {% if usuario['tipo']=="B+" %}selected{% endif %}>B+</option>
                <option value="B-" {% if usuario['tipo']=="B-" %}selected{% endif %}>B-</option>
                <option value="AB+" {% if usuario['tipo']=="AB+" %}selected{% endif %}>AB+</option>
                <option value="AB-" {% if usuario['tipo']=="AB-" %}selected{% endif %}>AB-</option>
                <option value="O+" {% if usuario['tipo']=="O+" %}selected{% endif %}>O+</option>
                <option value="O-" {% if usuario['tipo']=="O-" %}selected{% endif %}>O-</option>
              </select>
              <!-- hidden para enviar valor -->
              <input type="hidden" name="tipo" value="{{ usuario['tipo'] }}">
            </div>

            <div class="dados">
              <label for="email">Email:</label>
              <input class="caixa-text" type="email" id="email" name="email" value="{{ usuario['email']}}" readonly>

              <label for="senha">Senha:</label>
              <input class="caixa-text" type="password" id="senha" name="senha" placeholder="••••••••" readonly>
            </div>
          </div>
          <input class="btn-alterar btn-blue custom-btn" type="button" id="btnEditar" value="Alterar dados">
          <input class="btn-alterar btn-orange custom-btn" type="submit" id="btnSalvar" value="Salvar"
            style="display: none; margin-bottom: 0;">
        </form>
      </div>
  </main>


  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
</body>

</html>