<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoeVida</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo/logo.png') }}">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Início do Widget VLibras -->
<div vw class="enabled">
  <div vw-access-button class="active"></div>
  <div vw-plugin-wrapper>
    <div class="vw-plugin-top-wrapper"></div>
  </div>
</div>

<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
  new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>
<!-- Fim do Widget VLibras -->



</head>

<body>
    <header>
        <nav>
            <a class="logo" href="{{ url_for('inicio') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="200px">
            </a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                {% if session.get('usuario_id') %}
                <li><a href="{{ url_for('minha_area') }}">Minha Área</a></li>
                {% endif %}

                <li>
                    <div class="dropdown">
                        <a class="dropbtn">Dúvidas</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('requisitos_para_doar') }}">Requisitos para Doar</a>
                            <a href="{{ url_for('tipos_sanguineos') }}">Tipos Sanguineos</a>
                            <a href="{{ url_for('pos_doacao') }}">Cuidados Pós Doação</a>
                            <a href="{{ url_for('endereços') }}">Onde Doar</a>
                        </div>
                    </div>
                </li>
      {% if session.get('usuario_id') %}
      <li>
        <span class="bem-vindo">Olá, {{ session['usuario_nome'] }}!</span>
      </li>
      <li>
        <a class="custom-btn-login-cadastro btn-2 btn-red" href="{{ url_for('logout') }}">Logout</a>
      </li>
      {% else %}
      <li>
        <a class="custom-btn-login-cadastro btn-2 btn-orange" href="{{ url_for('login') }}">Login</a>
      </li>
      <li>
        <a class="custom-btn-login-cadastro btn-2 btn-blue" href="{{ url_for('cadastro') }}">Cadastro</a>
      </li>
      {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="centralizada">
            <div class="cuidadosimg">

                <img src="{{ url_for('static', filename='img/cuidadospos.png') }}" alt="Imagem 1" height="600px">
            </div>
            <div class="txt-cuidados">
                <h1>Cuidados Pós-Doação</h1>
                <ul>
                    <li>Permanecer em repouso, sentado, por aproximadamente 15 minutos após a doação.</li>
                    <li>Ingerir bastante líquido nas primeiras 24 horas.</li>
                    <li>Evitar esforços físicos e não utilizar o braço onde foi realizada a coleta.</li>
                    <li>Não fumar nas duas horas seguintes à doação.</li>
                    <li>Evitar dirigir por uma a duas horas, especialmente em viagens longas.</li>
                    <li>Atletas devem aguardar pelo menos 24 horas antes de retomar os treinos.</li>
                    <li>Profissionais que operam máquinas pesadas ou conduzem veículos coletivos devem aguardar 12 horas.</li>
                    <li>Mergulhadores, pilotos, paraquedistas e bombeiros devem respeitar repouso mínimo de 24 horas.</li>
                    <li>Observar possíveis sintomas como febre, manchas na pele ou mal-estar e comunicar o hemocentro em até 14 dias.</li>
                </ul>
            </div>
        </div>
    </main>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>