<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre DoeVida</title>
</head>    
<body>
    <h1>Sobre Nós</h1>
    <p>DoeVida é um site criado para pessoas interessadas em doar sangue. Aqui é possível saber como funciona a doaçao de sangue, quais os requisitos necessários para doar, onde fica o hospital mais próximo de voce ou o mais necessitado, agenda sua visita e te passa os cuidados pós doação. Salve uma vida hoje. </p>

    <nav>
        <a href="/">Início</a> |
    </nav>
</body>


</html>